@media only screen and (max-width: 500px){
    /*gallery page*/
    img {
        max-width: 300px;
        height: 200px;
        vertical-align: middle;
        display: inline-block;
    }

    .photo-container > div > img{
        width: 300px;
        height: 200px;
        object-fit: cover;
    }

    .photo-container {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        grid-auto-rows: 200px;
        grid-auto-flow: dense;
        padding: 20px;
    }
}