/* Home page */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    font-family: 'Playfair Display', serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background: white;
    padding: 10px 5px 10px 5px;
}



.photo-container1{
    display: flex; 
    width:100%;
    flex-wrap: wrap;
    justify-content: center;
    
 }
 
 
 .photo-container1 img{
     height:500px;
     width: 400px;
     object-fit: cover;
     padding:10px;

     filter: grayscale(0%);
     filter: gray;
     -webkit-filter: grayscale(0%);
     filter: none;

 }

 .photo-container1 img:hover{
    filter: grayscale(70%);
    -webkit-filter: grayscale(70%);
    transform: scale(1.06);
 }

